@page
@model IndexModel
@{
    ViewData["Title"] = "Informacje";
}

<h2>Aplikacja demonstracyjna Sim Web</h2>

<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>

<p>Mapa typu torus.</p>

<p>Sekwencja ruchów: <b>@Model.Moves</b>.</p>

<p style="margin-top:14px;">
    <img src="~/img/ork_big.png" alt="Ork" />
</p>
